<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bank</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <style>
    .main-header {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
    }

    .main-header a {
      text-decoration: none;
      color: #fab;
      font-size: 50px;
      margin-right: 20px;
    }
  </style>

</head>
<body>

  <div class="container">
    <header class="main-header">
      <a href="/">
        <span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>
      </a>
      <h1>
        Super secure banking app!!!!!!
      </h1>
    </header>
    {% block content %}
    {% endblock %}
  </div>
  
</body>
</html>