{% extends 'header.html' %}
{% block content %}
<h1>
  Welcome in our banking app.
</h1>
<form>
  <div class="form-group">
    <label for="login">Login</label>
    <input type="text" class="form-control" id="login" placeholder="Login">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="password">Hasło</label>
    <input type="password" class="form-control" id="password" placeholder="Hasło">
  </div>
  <div class="form-group">
    <label for="repeat-password">Potwierdź Hasło</label>
    <input type="password" class="form-control" id="repeat-password" placeholder="Potwiedź Hasło">
  </div>
  <button type="submit" class="btn btn-primary">Zarejestruj się</button>
</form>
{% endblock %}